.header{
	text-align: center;
}
.logo{
	height: 100px;
	padding: 10px;
}
.header nav{
	background-color: #000000;
	line-height: 40px;
	text-align: left;
	padding-left: 30px;
}

.header nav a{
	text-decoration: none;
	color: white;
	margin-right: 20px;
	padding: 6px;
	padding-bottom: 9px;
	font-size: 20px;
}

.header nav a:hover{
	background-color: lightgray;
}