.header{
	display: flex;
	justify-content: space-between;
}
.logo{
	height: 100px;
	padding: 10px;
}
.nav-left-half nav{
	background-color: #000000;
	line-height: 40px;
	text-align: left;
	padding-left: 30px;
}

.nav-left-half a{
	text-decoration: none;
	color: white;
	margin-right: 20px;
	padding: 10px;
	padding-bottom: 9px;
	font-size: 20px;
}

.header a:hover{
	background-color: #ffffff;
	padding: 20px 10px;
	color: #1976D2;

}

.search-box{
	position: relative;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.50);
	width: 400px;
	height: 40px;
	display: flex;
	justify-content: space-between;

}

.search-box input{
	width: 350px;
	height: 40px;
	background-color: transparent;
	border-color: transparent;
}

.search-box input:focus{
	background-color: transparent;
	border-color: transparent;
	outline: none;
}

.nav-right-half{
	display: flex;
	align-items: center;
	height: 40px;
}

@media only screen and (max-width: 1200px) {
  .search-box{
	  width: 300px;
  }
  .search-box input{
	width: 260px;
  }
}
